<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.System.site_title}}</title>
    <!--
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@2.2.0/dist/css/fastbootstrap.min.css" rel="stylesheet" integrity="sha256-V6lu+OdYNKTKTsVFBuQsyIlDiRWiOmtC8VQ8Lzdm2i4=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    -->

    <link href="/static/css/{{.System.site_cssjs}}/fastbootstrap.css" rel="stylesheet">
    <link href="/static/css/{{.System.site_cssjs}}/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg shadow-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarUnderlineExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/static/img/xsw.svg" width="36" /></a>
        <div class="collapse navbar-collapse" id="navbarUnderlineExample">
            <ul class="navbar-nav navbar-nav-underline me-auto mb-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">首页</a>
                </li>
                {{if eq .System.nav_show_archive "yes"}}
                <li class="nav-item">
                    <a class="nav-link" href="/archive">历史归档</a>
                </li>
                {{end}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">内容分类</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                {{if eq .System.nav_show_about "yes"}}
                <li class="nav-item">
                    <a class="nav-link" href="/page/about">关于本站</a>
                </li>
                {{end}}
            </ul>
            <div class="d-flex align-items-center flex-column flex-lg-row">
                <form class="me-2 mb-2 mb-lg-0">
                    <input type="text" class="form-control form-control-sm" placeholder="Search" />
                </form>
                <a class="btn btn-primary" href="">Login</a>
            </div>
        </div>
    </div>
</nav>

<button class="btn btn-danger transition  ease-in-out delay-150 -translate-y-px-hover duration-300 scale-110-hover">Save changes</button>
{{if eq .State.IsAdmin true}}管理员登陆{{else}}管理员未登陆{{end}}
<img src="https://api.lyiqk.cn/scenery" class="img-thumbnail ">
<footer class="mt-2">
    生成本页面耗时:{{.Subtime}} &nbsp;
    {{.System.copyright}}<br>
    基于<a href="http://www.ggyun.top" target="_blank">XSW</a>搭建&nbsp;<a href="https://beian.miit.gov.cn/">{{.System.icp}}</a>
</footer>
<script src="/static/js/{{.System.site_cssjs}}/fastbootstrap.min.js"></script>
</body>
</html>
