body{
    font-family: PingHei,PingFang SC,Helvetica Neue,Work Sans,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
footer {
    font-size: 12px;
    line-height: 27px;
    text-align: center;
}